attrs==24.2.0
beartype==0.19.0
casefy==0.1.7
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.0.3
exceptiongroup==1.2.2
humanfriendly==10.0
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-path==0.3.3
jsonschema-specifications==2023.12.1
junitparser==3.2.0
lazy-object-proxy==1.10.0
lxml==5.3.0
MarkupSafe==3.0.2
mypy-extensions==1.0.0
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
packaging==24.2
pathable==0.4.3
pluggy==1.5.0
prance==23.6.21.0
pyserde==0.12.7
pytest==7.4.4
python-docx==1.1.2
python-dotenv==1.0.0
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rpds-py==0.21.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
six==1.16.0
tomli==2.2.1
tqdm==4.67.1
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
